<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>KDG PhotoEditor|Home</title>
    <link rel="stylesheet" type="text/css" href="/static?path=css/style.css"/>
    <link rel="shortcut icon" href="/static?path=images/masthead.png"/>
  </head>
  <body>
    <div id="container">
      <div id="title">
        <img src="/static?path=images/masthead.png" width="800"/>
      </div>
      <div id="navigation">
        <ul>
          <li><a href="/"><button>Home</button></a></li>
          <li><a href="/downloads"><button>Download</button></a></li>
          <li><a href="/about"><button>About</button></a></li>
        </ul>
      </div>
      <div id="content">
        <p>
          <b>KDG PhotoEditor</b> is an open source photo editing software you can contribute to on <a href="https://github.com/K-D-G/KDG_PhotoEditor"><b>Github</b></a>
          You can download KDG PhotoEditor by going to download and then click the download button. Don't worry your operating system will be taken into account.
          The software has many features and you can find out what they are by clicking <a href="/about#features">here</a>
        </p>
      </div>
      <div id="footer">
        <p>A <a href="https://github.com/K-D-G/">Kieran Grayshon</a> production &copy;</p>
        <div id="social_links">
          <a href="https://www.instagram.com/kieran_grayshon/"><img src="/static?path=images/instagram.png" width="32" height="32"/></a>
          <a href="https://github.com/K-D-G/"><img src="/static?path=images/github.png" width="32" height="32"/></a>
          <a href="https://stackoverflow.com/users/9836388/k-d-g"><img src="/static?path=images/stackoverflow.png" width="32" height="32"/></a>
        </div>
      </div>
    </div>
  </body>
</html>
